:root{
/* TODO: adapt/change to new variables */

    /*
      Override desired values for the following variables.
    */

    /* GENERAL */
    --homepage-section-padding: 150px 50px 50px 150px;
    
    --GENERAL-FONT: var(--GENERAL-FONT-1);
    --TITLE-FONT: var(--GENERAL-FONT-2);

    --GENERAL-COLOR-1: rgb(23, 41, 61);
    --GENERAL-COLOR-2: rgb(255, 107, 46);
    --GENERAL-COLOR-3: rgb(27, 31, 32);

    --HR-BORDER-COLOR: var(--GENERAL-COLOR-2);
    
    --GENERAL-FONT-COLOR-1: black;
    --GENERAL-FONT-COLOR-2: var(--GENERAL-COLOR-1);
    --GENERAL-FONT-COLOR-3: white;
    --GENERAL-FONT-COLOR-4: var(--GENERAL-COLOR-2);

    --GENERAL-LINK-COLOR-1: var(--GENERAL-COLOR-2);
    --GENERAL-LINK-ACTIVE-COLOR-1: var(--GENERAL-COLOR-1);
    --GENERAL-LINK-COLOR-2: white;
    
    /* NAV BAR */
    --NAVBAR-BACKGROUND-COLOR: var(--GENERAL-COLOR-3);
    --NAVBAR-FIXED-BACKGROUND-COLOR: var(--GENERAL-COLOR-3);
    
    --NAVBAR-FONT: var(--GENERAL-FONT-2);
    --NAVBAR-BRAND-FONT: var(--GENERAL-FONT-3);
    
    --NAVBAR-BRAND-COLOR: var(--GENERAL-FONT-COLOR-4);
    --NAVBAR-FIXED-BRAND-COLOR: var(--GENERAL-FONT-COLOR-4);
    --NAVBAR-BRAND-HOVER-COLOR: white;
    --NAVBAR-FIXED-BRAND-HOVER-COLOR: white;
    
    --NAVBAR-BUTTON-COLOR: var(--GENERAL-FONT-COLOR-3);
    --NAVBAR-FIXED-BUTTON-COLOR: var(--GENERAL-FONT-COLOR-3);
    --NAVBAR-BUTTON-HOVER-COLOR: var(--GENERAL-FONT-COLOR-4);
    --NAVBAR-FIXED-BUTTON-HOVER-COLOR: var(--GENERAL-FONT-COLOR-4);
    --NAVBAR-BUTTON-ACTIVE-COLOR: var(--GENERAL-FONT-COLOR-4);
    --NAVBAR-BUTTON-ACTIVE-BACKGROUND-COLOR: transparent;

    /* HOME */
    --HOME-TEXT-COLOR: white;

    /* SERVICES */
    #services {
        --services-bkg-color: var(--GENERAL-COLOR-1);

        --services-title-color: var(--GENERAL-FONT-COLOR-3);
        --services-title-bar-color: var(--GENERAL-COLOR-1);

        --services-container-color: transparent;
        --services-container-border-radius: 0;
        --services-container-shadow: 0;

        --services-box-color: rgba(200, 200, 200, 0.9);
        --services-box-border-color: var(--GENERAL-COLOR-1);
        --services-box-border-radius: 1em;
        --services-box-shadow: 0;
        --services-box-height: 18em;

        --services-icon-color: var(--GENERAL-COLOR-2);
    }

    /* ABOUT */
    #about {
        --about-bkg-color: var(--GENERAL-COLOR-1);
        --about-bkg-opacity: 1;
        --about-bkg-position: center center;
        --about-bkg-size: cover;

        --about-title-color: var(--GENERAL-FONT-COLOR-3);
        --about-title-bar-color: var(--GENERAL-COLOR-2);

        --about-link-color: var(--GENERAL-LINK-COLOR-2);
        --about-link-color-active: var(--GENERAL-FONT-COLOR-3);

        --about-profile-bkg-color: transparent;
        --about-profile-margin: 1rem;
        --about-profile-border: 0;

        --about-profile-image-border-radius: 0;
        --about-profile-image-border: 0;
        --about-profile-text-padding-h: 1rem;
        --about-profile-text-padding-v: 1rem;

        --about-main-bkg-color: transparent;
        --about-main-border: 0;
        --about-main-text-color: var(--GENERAL-FONT-COLOR-3);
        --about-main-text-padding-h: 1rem;
        --about-main-text-padding-v: 0;

        --about-main-font-weight: bold;
    }

    /* PROJECTS */
    .project-box {
        --projectbox-image-padding: 0;
        --projectbox-caption-background-color: rgba(255, 107, 46, .9);
    }

    /* CONTACT */
    #contact {
        --contact-title-color: var(--GENERAL-FONT-COLOR-3);
        --contact-title-bar-color: var(--GENERAL-COLOR-2);

        --contact-color: var(--GENERAL-FONT-COLOR-3);
        --contact-bkg-color: var(--GENERAL-COLOR-3);
    }
}
